<nav>
    <!-- 
        When we are referencing a route in an a tag, we specify the GET
        route rather than the .html file
     -->
    <a href="/">Home</a> <!-- We can navigate to localhost:3000/ -->
    <a href="/color">Color</a> <!-- We can navigate to localhost:3000/color -->
</nav>